* {
    box-sizing: border-box;
}

body {
    background: brown;
}

.cal-grid {
    min-height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 2rem auto;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: minmax(120px, auto) repeat(4, 100px);
}